.hero-section{
    margin-top: 80px;
    width: 100%;
    height: 85vh;
    background: url('/hero-section.jpg');
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
