.navbar{
    top: 0;
    display: flex;
    position: fixed;
    background-color: rgb(109, 108, 108);
    padding: 20px 40px;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
    color: white;
    z-index: 5;
}
.navbar .logo{
    width: 60px;
    height: 60px;
    float: left;
    cursor: pointer;
    margin: 5px;
    border-radius: 20px;
}
.navbar-center{
    text-align: center;
}
.navbar-center ul li{
    display: flex;
    list-style: none;
    gap: 10px;
    text-decoration: none;
}
.navbar-center a{
    font-size: 18px;
    margin: 0 10px;
    transition: all 0.3s;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}